#enven:output=lib/generated/env.g.dart
#enven:class=Config

#enven:obfuscate
SENTRY_DSN=SENTRY_DSN

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_SERVER_CLIENT_ID=GOOGLE_SERVER_CLIENT_ID

SUPABASE_URL=SUPABASE_URL
SUPABASE_ANON_KEY=SUPABASE_ANON_KEY

API_URL=API_URL
WS_URL=WS_URL